[Unit]
Description=JavaScript Discord Bot Agent
After=network.target


[Service]
Type=simple
ExecStart=/usr/bin/node /home/ec2-user/repos/pin-discord-bot/index.js
WorkingDirectory=/home/ec2-user/repos/pin-discord-bot
EnvironmentFile=/home/ec2-user/repos/pin-discord-bot/environment
Restart=on-failure

[Install]
WantedBy=multi-user.target
